*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}
body{
  margin-left: 12px;
  background-color: rgb(199, 149, 89);
}
.card {
  display: flex;
  margin: 5px;
  border: 2px solid black;
  width: 900px;
  /* justify-content: center;
  align-items: center; */
  padding: 12px;
  background-color: black;
  border-radius: 10px;
}

.image img {
  width: 200px;
  border-radius: 10px;
}
h1{
  font-size: 18px;
  font-weight: 700;
  color: white;
}
p{
  margin-top: 14px;
  font-size: 12px;
  color: #e6ddddbb;
}
.text h1,
p {
  padding: 2px 0;
  margin-left: 10px;
}

.image {
  position: relative;
}

.image .capsule {
  position: absolute;
  bottom: 8px;
  z-index: 10;
  right: 5px;
  background: #242020;
  opacity: 0.9;
  color: white;
  padding: 3px;
  border-radius: 5px;
  font-size: 14px;
}
.create-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1220px;
}
button{
  margin: 5px;
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 18px;
  background-color: white;
  cursor: pointer;
}
.create-btn :hover{
  background-color: rgb(184, 154, 120);
  color: white
}